<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key ="targetUrl" value="https://www.twitch.tv/mydahlia"/>
    <add key ="browserLocation" value="chrome-win32/chrome.exe"/>
    <add key ="browserComparisonEnabled" value="true"/>
    <add key ="browserNameComparison" value="chrome"/>
    <add key ="propertiesFileName" value="properties.json"/>
  </appSettings>
</configuration>